body,
#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #111111;
  color: #ffffff;
  font-family: 'Courier New', Courier, monospace;
}

#root {
  display: flex;
  justify-content: center;
}

#root>form {
  margin: auto;
  padding: 2rem;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.8rem;
  border: 0.2rem solid #ffffff;
  border-radius: 1rem;
}

.form__header {
  width: 100%;
  margin: 0;
  text-align: center;
}

.form__field {
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
}

.form__field>label {
  width: 6rem;
  margin: auto 0;
}

.form__field>input {
  width: 12rem;
  padding: 0.3rem;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Courier New', Courier, monospace;
  border: 0.1rem solid #ffffffaa;
  border-radius: 0.2rem;
}

.form__submit {
  padding: 0.3rem;
  font-family: 'Courier New', Courier, monospace;
  background-color: #555555;
  color: #ffffff;
  border: 0.1rem solid #ffffffaa;
  border-radius: 0.2rem;
  transition: all ease-in-out;
}

.form__submit:hover {
  background-color: #ffffff;
  color: #111111;
  border: 0.1rem solid #ffffffaa;
  border-radius: 0.2rem;
}